*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

:root {
    --main-color: #161414;
    --primary-color: #fff;
    --text-light_color: #979797;
    --text-dark_color: #5B5B5B;
    --button-color: #7B61FF;
    --button-color_hover: #4d3fb6;
    --button-light_color: #F6F4FF;
    --button-light_text-color: #5243C2;
    --default-transition: all ease 0.5s;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container {
    max-width: 1410px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

@media screen and (max-width: 1024px) {
    .container {
        max-width: 930px;
    }
}

.button {
    background-color: var(--button-color);
    color: var(--primary-color);
    border-radius: 10px;
    padding: 18px;
    display: flex;
    align-items: center;
    transition: var(--default-transition);
}

.button:hover {
    background-color: var(--button-color_hover);
}

@media screen and (max-width: 580px) {
    .button {
        padding: 12px;
    }
}

.light-btn {
    background-color: var(--button-light_color);
    background-image: url("src/images/icons/ic_row-thin.svg");
    background-repeat: no-repeat;
    background-position: 90% 50%;
    color: var(--button-light_text-color);
    font-size: 16px;
    line-height: 24px;
    border-radius: 10px;
    padding: 10px 34px 10px 10px;
    border: 1px solid var(--button-light_color);
    transition: var(--default-transition);
}

.light-btn:hover {
    border: 1px solid var(--button-light_text-color);
}

/*HEADER BLOCK*/

.header-block {
    height: 700px;
    background-image: url("src/images/header-block/bg_space.png");
    background-size: cover;
    border-bottom-left-radius: 55px;
    border-bottom-right-radius: 55px;
    margin-bottom: 120px;
}

.header-block__content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header-block__header {
    margin-top: 30px;
}

.header-block__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.header-block__logo {
    flex: 0 1 145px;
}

.header-block__nav {
    display: flex;
    flex: 0 1 620px;
    justify-content: space-around;
}

.header-block__link {
    color: var(--text-light_color);
    line-height: 21px;
    transition: var(--default-transition);
}

.header-block__link:hover {
    color: var(--primary-color);
}

.header-block__link_active {
    color: var(--primary-color);
}

.header-block__user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 145px;
}

.header-block__data {
    color: var(--text-light_color);
    text-align: right;
    line-height: 21px;
}

.header-block__data span {
    color: var(--primary-color);
    font-weight: 600;
    line-height: 21px;
}

.header-block__title {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
}

.header-block__title-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-block__title-text {
    color: var(--primary-color);
    font-size: 48px;
    font-weight: 600;
    text-align: center;
}

.header-block__title-button {
    background-image: url("src/images/icons/ic_planet.svg");
    background-repeat: no-repeat;
    background-position: 7% 50%;
    font-weight: 600;
    font-size: 18px;
    margin-top: 32px;
    padding-left: 45px;
}

.header-block__search {
    display: flex;
    background-color: var(--primary-color);
    border-radius: 10px;
    justify-content: space-between;
    padding: 15px 10px;
    width: 85%;
    margin: 0 auto 100px;
}

.header-block__search-selectors {
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
}

.header-block__search-selector {
    display: flex;
    align-items: center;
    flex: 0 1 260px;
}

.header-block__selector-image {
    width: 35px;
    text-align: center;
}

.header-block__selector-title {
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    color: var(--text-dark_color);
}

.header-block__selector-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: var(--main-color);
    white-space: nowrap;
}

.header-block__btn-container {
    display: flex;
    justify-content: flex-end;
}

.header-block__search-text {
    display: none;
}

@media screen and (max-width: 1024px) {
    .header-block {
        height: 630px;
        margin-bottom: 60px;
    }

    .header-block__row {
        align-items: flex-start;
    }

    .header-block__nav {
        flex-direction: column;
        align-items: center;
        flex: none;
    }

    .header-block__nav li {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .header-block__title-text {
        font-size: 30px;
    }

    .header-block__search {
        width: 100%;
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 770px) {
    .header-block__nav li:last-child {
        margin-bottom: 0;
    }

    .header-block__title-button {
        margin-top: 10px;
    }

    .header-block__search {
        flex-direction: column;
    }

    .header-block__search-selectors {
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .header-block__btn-container {
        justify-content: center;
    }

    .header-block__search-btn {
        width: 100%;
        justify-content: space-between;
    }

    .header-block__search-text {
        display: block;
        font-size: 18px;
    }
}

@media screen and (max-width: 580px) {
    .header-block {
        height: 100vh;
    }

    .header-block__user {
        justify-content: flex-end;
    }

    .header-block__data {
        display: none;
    }

    .header-block__title {
        margin: 30px 0;
    }

    .header-block__title-text {
        font-size: 20px;
    }

    .header-block__title-button {
        font-size: 14px;
    }

    .header-block__search {
        width: 90%;
    }

    .header-block__selector-title {
        font-size: 12px;
    }

    .header-block__selector-text {
        font-size: 14px;
    }

    .header-block__search-text {
        font-size: 16px;
    }
}

/*MAIN*/

.main-title {
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    color: var(--main-color);
}

.title-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

@media screen and (max-width: 768px) {
    .title-line {
        margin-bottom: 32px;
    }
}

.popular, .activities, .about {
    margin-bottom: 120px;
}

@media screen and (max-width: 1024px) {
    .popular, .activities, .about {
        margin-bottom: 60px;
    }
}

.popular__gallery, .activities__gallery {
    display: flex;
    justify-content: space-between;
    column-gap: 32px;
    row-gap: 16px;
}

.popular__item,
.activities__item {
    cursor: pointer;
}

.popular__item img,
.activities__item img {
    filter: grayscale(.8);
    transition: var(--default-transition);
}

.popular__item:hover img,
.activities__item:hover img {
    filter: grayscale(0);
}

.popular__item span,
.activities__item span {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: var(--main-color);
    transition: var(--default-transition);
}

.popular__item:hover span,
.activities__item:hover span {
    color: var(--button-color);
}

.popular__item {
    display: flex;
    flex-direction: column;
    color: var(--text-dark_color);
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
}

.popular__item span {
    margin-top: 8px;
}

@media screen and (max-width: 1330px) {
    .popular__gallery {
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.activities__item {
    display: flex;
    flex-direction: column;
}

.activities__item span {
    margin-top: 16px;
}

@media screen and (max-width: 1330px) {
    .activities__gallery {
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.about__container {
    max-width: 1140px;
    margin: 0 auto;
}

.about__row {
    display: flex;
}

.about__content {
    display: flex;
    align-items: center;
}

.about__content-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 30px;
}

.about__text {
    font-size: 16px;
    line-height: 32px;
    color: var(--text-dark_color);
    padding: 20px 0;
}

.about__btn {
    align-self: flex-start;
}

@media screen and (max-width: 1024px) {
    .about__row {
        flex-direction: column;
        align-items: center;
    }

    .about__content-info {

        padding-right: 0;
    }

    .about__text {
        align-self: center;
        padding: 10px 0;
    }

    .about__btn {
        align-self: flex-end;
    }

    .about__image {
        margin-top: 10px;
    }
}

@media screen and (max-width: 580px) {
    .about__image {
        display: none;
    }
}

/*FOOTER*/

.footer {
    background-color: #F9F9F9;
    padding: 120px 0;
}

.footer__row {
    height: 100%;
    display: flex;
    align-items: center;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}

.footer-column {
    flex: 0 1 100px;
}

.footer__socials {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 1 350px;
}

.footer__logo {
    margin-bottom: 12px;
}

.footer__soc-desc {
    flex: 1 1 auto;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    color: var(--text-dark_color);
}

.footer__soc-icons {
    display: flex;
    max-width: 50%;
    justify-content: space-between;
}

.footer__soc-icons img {
    cursor: pointer;
    transition: var(--default-transition);
}

.footer__soc-icons img:hover {
    transform: rotate(-10deg);
}

.footer__middle-columns {
    display: flex;
    justify-content: space-between;
    flex: 0 1 500px;
}

.footer__list-title {
    margin-bottom: 20px;
}

.footer__list li {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 12px;
    color: var(--text-dark_color);
    cursor: pointer;
}

.footer__list li:hover {
    color: var(--button-color);
}

.footer__list li:last-child {
    margin-bottom: 0;
}

.footer__sub {
    flex: 0 1 390px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__sub-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
}

.footer__sub-email {
    background-color: var(--primary-color);
    background-image: url("src/images/icons/ic_message.svg");
    background-repeat: no-repeat;
    background-position: 7% 50%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 0 1 300px;
    padding: 16px 16px 16px 56px;
}

.footer__sub-label {
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    color: var(--text-dark_color);
}

.footer__sub-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: var(--main-color);
}

.footer__sub-btn {
    padding: 28px;
}

@media screen and (max-width: 1024px) {
    .footer {
        padding: 40px 0;
    }

    .footer__row {

    }

    .footer__content {
        flex-direction: column;
    }

    .footer__socials {
        align-items: center;
        flex: none;
    }

    .footer__logo {
        margin-bottom: 0;
    }

    .footer__soc-desc {
        flex: none;
        text-align: center;
        padding: 10px 0;
    }

    .footer__soc-icons {
        width: 100%;
        justify-content: space-around;
    }

    .footer__soc-icons img {
        cursor: pointer;
        row-gap: 10px;
    }

    .footer__middle-columns {
        padding: 30px 0;
        flex: none;
    }

    .footer__list-title {
        margin-bottom: 10px;
    }

    .footer__sub {
        flex: none;
        justify-content: center;
    }

    .footer__sub-title {
        align-self: center;
        margin-bottom: 10px;
    }

    .footer__sub-container {
        justify-content: center;
        margin-bottom: 0;
    }

    .footer__sub-email {
        margin-right: 15px;
    }
}